.lane {
    text-align: center;
    padding: 32px;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    margin: 50px 10px 20px;
}

.lane h3 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.lane .jogadores {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}